[submodule "checkouts/nixpkgs"]
	path = checkouts/nixpkgs
	url = git@github.com:NixOS/nixpkgs.git
	branch = nixos-20.09
[submodule "checkouts/nixpkgs-unstable"]
	path = checkouts/nixpkgs-unstable
	url = git@github.com:NixOS/nixpkgs.git
	branch = nixos-unstable
[submodule "checkouts/home-manager"]
	path = checkouts/home-manager
	url = git@github.com:nix-community/home-manager.git
	branch = release-20.09
[submodule "checkouts/nixpkgs-master"]
	path = checkouts/nixpkgs-master
	url = git@github.com:NixOS/nixpkgs.git
