[submodule "nixpkgs"]
	path = checkouts/nixpkgs
	url = git@github.com:NixOS/nixpkgs.git
	branch = nixos-20.09
[submodule "modules/home-manager"]
	path = checkouts/home-manager
	url = git@github.com:nix-community/home-manager.git
[submodule "home-manager"]
	branch = release-20.09
[submodule "checkouts/nixpkgs"]
	branch = nixos-20.09
[submodule "checkouts/home-manager"]
	branch = release-20.09
