separator=false
separator_block_width=5
border_top=0
border_left=0
border_right=0
border_bottom=4

[fwall]
command=fish $HOME/scripts/firewall.fish
interval=10
urgent=true

[updates]
command=$HOME/scripts/updates.sh
interval=60
signal=3
urgent=true

#[window]
#command=xtitle -s
#interval=persist
#separator=true
#separator_block_width=45
#border=#ebdbb2

[layout]
label=  
command=$HOME/scripts/layout.sh 
interval=10
signal=12
border=#DF7401

[music]
command=[[ -z "$($HOME/scripts/music.sh)" ]] || echo " $($HOME/scripts/music.sh) "
interval=10
border=#1573ee

[volume]
label=  
command= [[ -z "${BLOCK_BUTTON}" ]] || ( [[ "${BLOCK_BUTTON}" == "1" ]] && ((/usr/bin/pavucontrol -t 3 --name "pavucontrol-bar" || true) && $HOME/scripts/volume_control.py signal) || $HOME/scripts/volume_control.py toggle ); $HOME/scripts/volume_control.py i3blocks
interval=10
signal=11
markup=pango
border=#cc241d

[temperature]
label=  
command=echo "$($HOME/scripts/temperature.sh 'Core 0')°C "
interval=5
border=#b16286

[local_ip]
label=  
command=echo "$(ip addr | grep 'state UP' -A2 | tail -n1 | awk '{print $2}' | cut -f1  -d'/') "
interval=10
border=#98971a

[space_root]
label=  
command=echo "$(df -h --output=avail / | grep -v Avail) "
interval=30
border=#620ec9

[time]
label=  
command=echo "`date +'%a %d %b'` <b>`date +'%T'`</b>"; [[ -z "${BLOCK_BUTTON}" ]] || gsimplecal
interval=1
markup=pango
border=#928374
separator_block_width=0
